/* GLOBAL */
:root {
  --white: white;
  --light-grey: #f3f5f5;
  --grey: #8f9393;
  --black: #2f3333;
  --orange: #ff8001;
  --blue: #00cdbc;
}
body {
  background-color: white;
}
/* NAVBAR */
nav {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px var(--light-grey);
}
.brand-logo {
  margin-left: 40px;
  height: 100%;
}
